{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page </h1>
    <form method="POST" action="{% url 'save' %}">
        {% csrf_token %}
        <h3>Title</h3>
        <input type="text" name="title" required placeholder="Enter Title">
        <br><br>
        <h3>Markdown content</h3>
        <textarea name="content" required rows="10" cols="30"></textarea>
        <br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
